{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block meta_title %}{% endblock %}</title>

  {% block css_meta %}
    {% block css_bootstrap %}
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
            integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <!-- Optional theme -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
            integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    {% endblock %}
    {% block css_fa %}
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    {% endblock %}
    {% block css_tele_giphy %}
      <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"/>
    {% endblock %}
  {% endblock %}
</head>
<body>
{% block body %}
  {% block header %}
    <div class="container">
    <div class="row">
      <p class="navbar-text navbar-right"><a href="{% url 'game:index' %}" class="navbar-link">
        <button type="button" class="btn btn-default navbar-btn">Home</button>
      </a></p>
    </div>
    <div class="row">
      <div class="col-md-4-offset-4">
        <h1 id="tg" class="text-center">
          TeleGif
        </h1>
      </div>
    </div>

  {% endblock %}
{% block messages %}
  {% if error_message %}
    <div class="alert alert-danger text-center" role="alert"><strong>{{ error_message }}</strong></div>
  {% endif %}
{% endblock %}
{% block common_messages %}
  {% if messages %}
    <div class="row">
      <div class="col-md-8 col-md-offset-2 messages">
        {% for message in messages %}
          <div class="alert {% if message.tags %} {{ message.tags }}{% endif %}" role="alert">
            {% if message.tags == 'alert-danger' %}<strong>{% endif %}{{ message|safe }}
            {% if message.tags == 'alert-danger' %}</strong>{% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block main_content %}{% endblock %}
{% block footer %}
{% endblock %}
</div>
{% endblock body %}

{% block js %}
  {% block js_jquery %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  {% endblock %}
  {% block js_bootstrap %}
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
  {% endblock %}
  {% block js_inline %}{% endblock %}
{% endblock %}

</body>
</html>
