{% extends 'base.html' %}

{% block main_content %}

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="row">

    {% load static %}
          <div class="col-xs-6">
            <h3>Received GIF</h3>
            <img src="{% static "img/placeholder.gif" %}" alt="passed gif"/>
          </div>

          <div class="col-xs-6">
            <h3>Your GIF</h3>
            <img src="{% static "img/placeholder.gif" %}" alt="your gif"/></div>
          </div>
  <form>
    <div class="form-group">
      <label for="phrase">Please enter you're word or phrase here:</label>
      <input type="text" class="form-control" id="phrase" placeholder="e.g. doge, my milkshake brings all the doges to the yard etc.">
    </div>
  </form>
    <div class="row">
      <div class="col-xs-6">
        <button type="button" class="btn btn-primary">GIF me!</button>
      </div>
      <div class="col-xs-6"><button type="button" class="btn btn-primary">Pass GIF!</button></div>
    </div>
  </div>
</div>



{% endblock %}

