{% extends 'base.html' %}

{% block main_content %}

<div class = "row">
  <div class = "col-md-4">
      Round # {{game.current_round}}
  </div>
  <div class = "col-md-4 col-md-offset-4 text-right">
      Player # {{game.current_round}}
  </div>    
</div>

<div class = "row">
  <div class = "col-md-4 col-md-offset-4 text-center">
      <form action = "{% url 'game:choose_new_gif' token %}" method = 'post'>
        {% csrf_token %}
          <input type="text" name = 'phrase' class="form-control" placeholder="Type your phrase here">
          <input type="submit" class = "btn btn-success" value = "giphify!" />
      </form>
  </div>
</div>

<div class = "row">
  <div class = "col-md-4 col-md-offset-4 text-center">
    <p class = "text-center" > 
      <img alt = " enter some text above!" class = "img-responsive center-block" src = {{gif}} /> 
    </p>
  </div>
</div>

<div class = "row">
  <form action = "{% url 'game:choose_new_gif' token %}" method = 'post'>
    <div class = "col-md-6 text-right"><button type="button" class="btn btn-default">Choose another gif</button></div>
  </form>
  
{#  <form action = "{% url 'game:next_player' %}" method = 'post'> #}
    <div class = "col-md-6 text-left"><button type="button" class="btn btn-success">Pass on this Gif!</button></div>  
  <!--</form>-->
</div>

{% endblock %}

