{% extends 'base.html' %}

{% block main_content %}

<div class = "row">
  <div class = "col-md-4">
      Round # {{game.current_round}}
  </div>
  <div class = "col-md-4 col-md-offset-4 text-right">
      Player # {{game.current_round}}
  </div>    
</div>

<div class = "row">
  <div class = "col-md-4 col-md-offset-4 text-center">
      <form action = "{% url 'game:choose_new_gif' token %}" method = 'post'>
        {% csrf_token %}
          Type your phrase below        
          <p><input type="text" name = 'phrase' class="form-control" value = {{phrase}}></p>
          <p><button type="submit" class="btn btn-default">Give me a GIF!</button></p>
          <!--<input type="submit" class = "btn btn-success" value = "giphify!" /> -->
      </form>
  </div>
</div>

<div class = "row">
  <div class = "col-md-4 col-md-offset-4 text-center">
    <p class = "text-center" > 
      <img alt = "Enter some text above!" class = "img-responsive center-block" src = {{gif}} /> 
    </p>
  </div>
</div>

<div class = "row">
  <div class = "col-md-4 col-md-offset-4 text-center">
<!--   <form action = "{% url 'game:choose_new_gif' token %}" method = 'post'>
  {% csrf_token %}
    <div class = "col-md-6 text-right"><button type="submit" class="btn btn-default">Give me a GIF!</button></div>
  </form> -->
  
  <form action = "{% url 'game:pass_on' token %}" method = 'post'>
  {% csrf_token %}
    <button type="submit" class="btn btn-success">Pass on this GIF!</button>
  </form>
  </div>
</div>


<!--game:next_player-->
{% endblock %}

