{% extends 'base.html' %}
{% load staticfiles %}

{% block main_content %}
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <p>TeleGiphy is based off the icebreaker game, “Telephone”, where an original message is passed along a chain of players through whispers, and is entertaining through the often very distorted message at the end.<br>TeleGiphy is a spin-off of the game that relies on Giphy’s magnificent random-ness when selecting gifs instead of whispers to distort messages.
    </p>
    <br>
    <!--<p>Powered by <a href="http://giphy.com/"><img src="{% static 'img/giphy_logo_laser_black.gif' %}" alt=""></a></p>-->
    <p><a href="{% url 'game:new_game' %}"><button type="button" class="btn btn-primary btn-lg btn-block">New game</button></a></p>
    <p>
      <!-- <form class="form-inline">
      <div class="form-group">
      <label class="sr-only" for="exampleInputAmount">e.g. 9000</label>
      <div class="input-group">
    <div class="input-group-addon">Game token</div>
    <input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount">
    <a type="button" class="btn btn-info"><div class="input-group-addon">Enter game</div></a>
    </div>
  </div>
</form> -->

    <input type="text" class="form-control" placeholder="e.g. 9000"></p>
    <p>
    <a href="{% url 'game:index' %}"><button type="button" class="btn btn-info">Enter game</button></a>
    </p>
  </div>
  <div class="col-md-2"></div>
</div>
{% endblock %} 