{% extends 'base.html' %}

{% block main_content %}
<div class = "row">
  <div class = "col-md-4">
      <h4>Round # {{ game.current_round }}</h4>
  </div>
  <div class = "col-md-4 col-md-offset-4 text-right">
      <h4>Original Player: <b>{{ origin_user }}</b></h4>
  </div>    
</div>
{% if game.current_round != 1 %}
<div class = "row">
  <div class = "col-md-4 col-md-offset-4 text-center">
    {% load static %}
    <h3>Received GIF</h3>
    <img class = "img-responsive center-block" src= "
                                                    {% if received_gif %}
                                                        {{ received_gif }}
                                                    {% else %}
                                                        {% static 'img/giphy_static.gif' %}
                                                    {% endif %}
                                                    " 
                                                    alt="received gif"/>
    
  </div>
</div>
{% endif %}

<div class = "row">
  <div class = "col-md-4 col-md-offset-4 text-center">
    <form action = "{% url 'game:choose_new_gif' token %}" method = 'post'>
      {% csrf_token %}
      <div class="form-group">
        {% if game.current_round != 1 %}
        <label for="phrase-box">Please enter your guess here:</label>
        {% else %}
        <label for="phrase-box">Please enter your phrase here:</label>
        {% endif %}
        <div class = "input-group">
          <input type="text" class="form-control" name='phrase' id="phrase-box" placeholder="e.g. doge, my milkshake brings all the doges to the yard etc." value = "{{ phrase }}">
          <input type="hidden" name='origin_user' value="{{ origin_user }}" />
          <span class="input-group-btn">
            <button class="btn btn-primary" type="submit">Gif me!</button>
          </span>
        </div>
        <!--<button type="submit" class="btn btn-primary">GIF me!</button>-->
      </div>
    </form>
  </div>
</div>

<div class = "row">
  <div class = "col-md-4 col-md-offset-4 text-center">  
    <h3 class = "text-center">Your GIF</h3>
      <img class = "img-responsive center-block" src= "
                                                      {% if gif %}
                                                          {{ gif }}
                                                      {% else %}
                                                          {% static 'img/giphy_static.gif' %}
                                                      {% endif %}
                                                      " alt="your gif"/>
  </div>
</div>
<br />

<div class = "row">
  <div class = "col-md-4 col-md-offset-4 text-center">
    <form action = "{% url 'game:pass_on' token %}" method = 'post'>
      {% csrf_token %}
      {% if gif == "/static/img/giphy_static.gif" %}
        <button type="submit" class="btn btn-success" disabled="disabled">Pass GIF!</button>
      {% else %}
        <button type="submit" class="btn btn-success">Pass GIF!</button>
      {% endif %}
    </form>  
  </div>
</div> 

<br />

<div class = "row">
  <div class = "col-md-4 col-md-offset-4 text-center">
    <form action = "{% url 'game:pass_on' token %}" method = 'post'>
      {% csrf_token %}
        <button type="submit" class="btn btn-default">End Game</button>
    </form>  
  </div>
</div> 
{% endblock %}

